body {
	font-family: 'Ubuntu', sans-serif;
	color: #191919;


}

.navbar {
	border-bottom: 1px solid #ebebeb;
	background-color: #fff;
}

.icon-bar {
	background-color: #191919;
}

a {
	color: #191919;
	text-decoration: none;
	background-color: #fff;
}

a:hover {
	text-decoration: none;
	color: #666666;
	background-color: #fff;
}


.nav li a:hover {
	color: #666666;
	background-color: #fff;
}

#info {
	float: right;
	font-size: 12px;
}

.page-header {
	font-size: 20px;
}

#parent_photo_container {

	width: auto;
	height: auto;

	max-height: 800px;
	width: auto;

	position: relative;

}

#photoBin {
	
	height: auto;
}





.img-center {
	margin: 0 auto;
}

/* Start of photo hover stuff */


#previous {

	position: relative;
	color: rgba(0,0,0,0.7);
	float: right;
	font-size: 3em;

}

#next {
	color: rgba(0,0,0,0.7);
	float: left;
	font-size: 3em;

	position: relative;
	
}

#previous:hover {
	color: #666666;
	cursor: pointer;
}

#next:hover {
	cursor: pointer;
	color: #666666;
}

/* end photo hover stuff


.photoBtn {
	font-size: 50px;
	color: rgba(0,0,0,0.7);
}

.photoBtn:hover {
	font-size: 50px;
	color: rgba(0,0,0, 1);
	cursor: pointer;
}

#photo_button_container {
	position: absolute;
	width: 97%;
	height: auto;

	left:50%;
    top:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

*/


/*
#next {
	font-size: 15px;

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

#next:hover {
	color: #666666;
	cursor: pointer;
}

#previous {
	font-size: 15px;

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

#previous:hover {
	color: #666666;
	cursor: pointer;
}

*/

/* HOME PAGE STYLE - - - - - - - - - - - - - - - - - - HOME PAGE STYLE - - - - - - - - - - - - - - - - - - - -  */

#home_image {
	width: 100%;
	height: auto;

}




/* VIDEO PAGE STYLE - - - - - - - - - - - - - - - - - VIDEO PAGE STYLE - - - - - - - - - - - - - - - - - - */

/*
#video_body {
	background-color: #191919;
	color: #fff;
}
*/

/* WEB PAGE STYLE - - - - - - - - - - - - - - - - - - WEB PAGE STYLE - - - - - - - - - - - - - - - - - - - */

#webapp {
	list-style: none;
}


@media (min-width: 301px) and (max-width: 990px) {

	#parent_photo_container {
		width: 100%;
		height: auto;
	}

	#previous {
		float: left;
		
	}

	#next {
		float: right;
		margin-top: 0;
	}

}










